@import "tailwindcss";

/* Hide scrollbars utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

/* Fallback customized minimal dark scrollbar for other browsers */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #27272a; /* zinc-800 */
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* zinc-600 */
}
